@charset "utf-8";

.topicimage {
  display:block;
  float:left;
  width:300px;
  margin-right: 25px;
}

.makertopic {
  display:block;
  height:290px;
}

.topicsummary {
  display:block;
  float:left;
  width:50%;
}

.topicheading {
  margin-top: 0px;
  border:2px solid:333;
}

.spacer {
  height: 10px;
}

.right {
  float:right;
  margin-left: 1rem;
}

ul.catlist li {
  display:inline;
}